<!-- Opening cutscene, own linear radio chain (name="intro"), entirely
     decoupled from the position graph above (see scss/intro/_intro.scss
     for the full explanation). Title-screen Start checks #intro-skip
     (skip prompt after the title fade). No continues on #intro-dark;
     Yes jumps to the wake-up beat (#intro-5). Re-uses position-graph
     nodes 1-4/13/14 for its camera targets, but never touches the
     "position" radios themselves. -->
<input type="radio" name="intro" id="intro-skip" class="world-position-input" />
<input type="radio" name="intro" id="intro-dark" class="world-position-input" />
<input type="radio" name="intro" id="intro-fade" class="world-position-input" />
<input type="radio" name="intro" id="intro-1" class="world-position-input" />
<input type="radio" name="intro" id="intro-2" class="world-position-input" />
<input type="radio" name="intro" id="intro-lantern" class="world-position-input" />
<input type="radio" name="intro" id="intro-home" class="world-position-input" />
<input type="radio" name="intro" id="intro-3" class="world-position-input" />
<input type="radio" name="intro" id="intro-anyway" class="world-position-input" />
<input type="radio" name="intro" id="intro-4" class="world-position-input" />
<input type="radio" name="intro" id="intro-sit" class="world-position-input" />
<input type="radio" name="intro" id="intro-fall" class="world-position-input" />
<input type="radio" name="intro" id="intro-dark-hold" class="world-position-input" />
<input type="radio" name="intro" id="intro-5" class="world-position-input" />
<input type="radio" name="intro" id="intro-breathe" class="world-position-input" />
<input type="radio" name="intro" id="intro-6" class="world-position-input" />
<input type="radio" name="intro" id="intro-7" class="world-position-input" />
<input type="radio" name="intro" id="intro-pack" class="world-position-input" />
<input type="radio" name="intro" id="intro-8" class="world-position-input" />
<input type="radio" name="intro" id="intro-9" class="world-position-input" />
<input type="radio" name="intro" id="intro-10" class="world-position-input" />
<input type="radio" name="intro" id="intro-11" class="world-position-input" />
<input type="radio" name="intro" id="intro-12" class="world-position-input" />
<input type="radio" name="intro" id="intro-13" class="world-position-input" />
<input type="radio" name="intro" id="intro-hurry" class="world-position-input" />
<input type="radio" name="intro" id="intro-14" class="world-position-input" />
<input type="radio" name="intro" id="intro-hints" class="world-position-input" />
